<text>kurssipohjan id: <%= @hid %></text>
</br>
<text>linkki print-sivulle: <%= @url %></text>
</br>

</br>
<div class="dropdown">
  <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Löydetyt tehtävät (<% if @exercises %><%= @exercises.size %><% else %>0<% end %>)
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <% if @exercises %>
      <% @exercises.each do |e| %>
        <li><%= e %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<% if @bad_exercises and @bad_exercises.size > 0 %>
  <p class="text-danger"><strong>Kisallioppimisen sivuilta löytyi tehtäviä, jotka eivät ole UUID-muodossa! On suositeltaa korjata tehtävien id:t ennen niiden tallentamista!<strong></p>
  <div class="dropdown">
  <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">Väärämuotoiset tehtävät (<% if @bad_exercises %><%= @bad_exercises.size %><% else %>0<% end %>)
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <% if @bad_exercises %>
      <% @bad_exercises.each do |e| %>
        <li><%= e %></li>
      <% end %>
    <% end %>
  </ul>
</div>
</br>
<% end %>

<%= form_tag '/admins/exerciselists/save' do %>
  <% @exercises.each do |e| %>
    <div class="field"><%= hidden_field_tag 'exercises[]', e %></div>
  <% end %>
  <div class="field"><%= hidden_field_tag :hid, @hid %></div>
  <div class="actions">
    <%= submit_tag "Tallenna"%>
  </div>
<% end %>

<input type="button" class="btn" value="Takaisin" onclick="location.href = '/admins/exerciselists/';">


