<p id="notice"><%= notice %></p>

<h1>Checkmarks</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Exercise</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkmarks.each do |checkmark| %>
      <tr>
        <td><%= checkmark.user_id %></td>
        <td><%= checkmark.exercise_id %></td>
        <td><%= checkmark.status %></td>
        <td><%= link_to 'Show', checkmark %></td>
        <td><%= link_to 'Edit', edit_checkmark_path(checkmark) %></td>
        <td><%= link_to 'Destroy', checkmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checkmark', new_checkmark_path %>
