<p id="notice"><%= notice %></p>

<h1>Checkmarks</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Student.id</th>
      <th>Exercise.id</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkmarks.each do |checkmark| %>
      <tr>
        <td><%= link_to checkmark.user_id, checkmark.user %></td>
        <td><%= link_to checkmark.exercise_id, checkmark.exercise %></td>
        <td><%= checkmark.status %></td>
        <td><%= link_to 'delete', checkmark, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

