<p id="notice"><%= notice %></p>

<h1><%= @deadline.description %> - <%= @deadline.deadline %> </h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Exercise.id</th>
      <th>Exercise.html_id</th>
      <th>Course.id</th>
    </tr>
  </thead>

  <tbody>
    <% @deadline.exercises.each do |e| %>
      <tr>
        <td><%= e.id %></td>
        <td><%= e.html_id %></td>
        <td><%= e.course_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Back', deadlines_path %>
