<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Firstname</th>
      <th>Courses as teacher</th>
      <th>Courses as student</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user %></td>
        <td><%= user.first_name %></td>
        <td><%= user.courses_to_teach.count %></td>
        <td><%= user.courses.count %></td>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

