<p id="notice"><%= notice %></p>

<p>
  <strong>Html:</strong>
  <%= @course.html_id %>
</p>

<p>
  <strong>Coursekey:</strong>
  <%= @course.coursekey %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<%= link_to 'Back', courses_path %>
