<p id="notice"><%= notice %></p>

<h1>Exercises</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>html_id</th>
      <th>course_id</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= link_to exercise.id, exercise %></td>
        <td><%= link_to exercise.html_id, exercise %></td>
        <td><%= link_to exercise.course_id, exercise.course %></td>
        <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
        <td><%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise', new_exercise_path %>
