<p id="notice"><%= notice %></p>

<p>
  <strong>Html:</strong>
  <%= @exercise.html_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @exercise.course_id %>
</p>

<%= link_to 'Back', exercises_path %>
