<p id="notice"><%= notice %></p>

<h1>Attendances</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User.id</th>
      <th>Course.id</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= link_to attendance.user_id, attendance.user %></td>
        <td><%= link_to attendance.course_id, attendance.course %></td>
        <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance', new_attendance_path %>
