<li><%= link_to 'users', users_path %></li>
<li><%= link_to 'courses', courses_path %></li>
<li><%= link_to 'exercises', exercises_path %></li>
<li><%= link_to 'checkmarks', checkmarks_path %></li>
<li><%= link_to 'attendances', attendances_path %></li>
<li><%= link_to 'deadlines', deadlines_path %></li>
<li><%= link_to 'schedules', schedules_path %></li>
