<% if user_admin %>
  <li>
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin-työkalut<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Synkronoi tehtävät', '/admins/exerciselists/' %></li>
        <li><%= link_to 'Tarkista valekurssit', '/admins/courses/' %></li>
      </ul>
  </li>
  <li>
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">Tietokannan sisältö<b class="caret"></b></a>
      <ul class="dropdown-menu">
          <li><%= link_to 'users', users_path %></li>
          <li><%= link_to 'courses', courses_path %></li>
          <li><%= link_to 'exercises', exercises_path %></li>
          <li><%= link_to 'checkmarks', checkmarks_path %></li>
          <li><%= link_to 'attendances', attendances_path %></li>
          <li><%= link_to 'teachings', teachings_path %></li>
          <li><%= link_to 'schedules', schedules_path %></li>
      </ul>
  </li>
  
<% end %>

<% if user_signed_in? %>
  <% if not env_production or user_admin %>
    <li><%= link_to('-kirjaudu ulos-', destroy_user_session_path) %></li>
  <% end %>
<% else %>
  <% if not env_production %>
    <li><%= link_to('-signin-', new_user_session_path)  %></li>
    <li><%= link_to('-signup-', new_user_registration_path)  %></li>
  <% end %>
<% end %>
<li><%= link_to(kisalli_url, kisalli_url) %></li>

